@charset “UTF-8”;

body {
  text-align:center;
  line-height: 15px;
  color:#fff;
  background:#4ec5c1;
 }
 
 .img_block {
     position: absolute;
     top: 27%;
     left: 0;
     right: 0;
     margin: auto;
 }
 
 .suitti {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
 }
 
 .img_block img{
   display: block;
   margin:auto;
 }
 
 .cover {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #000;
   opacity: 0;
   pointer-events: none;
   transition: all 0.15s linear;
 }
 
 .hide .cover {
   opacity: 0.5;
 }

 @media screen and (max-width: 414px){
   h1 {font-size: 24px;}
   p {font-size: 14px;}
   .img_block {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
}
 }