@charset “UTF-8”;
html {
  touch-action: manipulation;
  font-family: sans-serif;
}
body {
  text-align:center;
  line-height: 15px;
  color:#0E599C;
  background:#f6ce3b27;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
 }

.taitoru{
  font-size: 36px;
  font-weight: bold;
  color:#0E599C;
  margin-top: 50px;
  margin-bottom: 50px;
}

.youtube1 {
  max-width: 700px; /* ここに動画の横幅を指定 */
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}
.youtube2 {
  position: relative;
  padding-top: 56.25%;
  height: 0;
}
.youtube2 iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  display: flex; 
  padding:  10px;   
  justify-content:center;
  flex-wrap: wrap; 
  margin-top: -30px;
}

.button {
	width:			200px; /*マスクの大きさ（画像の大きさと同じ）*/
	height:			200px;
  object-fit: cover;
	margin:			20px;
	position:		relative;	/* 相対位置指定 */
}

.button .mask {
	width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0, 0, 0, 0.6);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.25s ease;
  text-decoration: none;
}

.button:hover .mask {
	opacity:		1;	/* マスクを表示する */
  color:rgb(255, 253, 240);
  display: block;
  line-height: 200px;
  text-decoration: none;
}

.midasi{
  font-size: 24px;
  font-weight: bold;
  color:#0E599C;
  margin-top: 70px;
}

.kome {
  font-size: 14px;
  color: rgb(235, 0, 0);
  margin-top: -10px;
}

.midasi2{
  font-size: 24px;
  font-weight: bold;
  color:#0E599C;
  margin-top: 45px;
}

.gaiyou{
  line-height: 1.8;
  color:#0E599C;
  margin-top: 15px;
}

.genntei{
  line-height: 1.8;
}

.url{
  color: rgb(235, 0, 0);
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 50px;
  margin: 20px;
}

a{
  text-decoration: none;
  color:#0E599C;
}
a:hover {
  color:#4ec5c1;
}

footer{
  height: 50px;
  color: #fff;
  background-color: #0E599C;
  margin-top: 50px;
  padding-top:10px;
  padding-bottom: 10px;
  display:block;
}


 @media screen and (max-width: 960px){

 }

 @media screen and (max-width: 480px){
    .taitoru{
      font-size: 30px;
     }
    br {
      display: none;
      margin-left: 10px;
      margin-right: 10px;
    }
    .gaiyou{
      margin: 20px;
      text-align: justify;
      /* IE対策 */
      text-justify: inter-ideograph;
    }
    .genntei{
      margin: 20px;
      text-align: justify;
      /* IE対策 */
      text-justify: inter-ideograph;
    }
    .url{
      font-size: 14px;
      margin: 0;
    }
 }

 @media screen and (max-width: 320px){
    .taitoru{
      font-size: 28px;
    }
    .midasi{
      font-size: 22px;
    }
    .midasi2{
     font-size: 22px;
    }
    br {
      display: none;
      margin-left: 10px;
      margin-right: 10px;
    }
    .gaiyou{
      font-size: 14px;
      margin: 20px;
      text-align: justify;
      /* IE対策 */
      text-justify: inter-ideograph;
    }
    .genntei{
      font-size: 14px;
      margin: 20px;
      text-align: justify;
      /* IE対策 */
      text-justify: inter-ideograph;
    }
    .url{
      font-size: 13px;
      margin: 2.5px;
    }
 }
