@charset “UTF-8”;
html {
  touch-action: manipulation;
}
body {
  text-align:center;
  line-height: 15px;
  color:#fff;
  background:#4ec5c1;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
 }
 
 .img_block {
     position: absolute;
     top: 12%;
     left: 0;
     right: 0;
     margin: auto;
 }
 
 .pinpon {
     position: absolute;
     top: 19.5%;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
 }

 .img_block img{
   display: block;
   margin:auto;
   user-drag: none;
   -webkit-user-drag: none;
   -moz-user-select: none;
   touch-callout: none;
 }

 .kari {
  font-size: 13.5px;
}
a {
    text-decoration: none;
}

 .btn {
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  margin: auto;
}

.modoru {
  width:80px;
  display: inline-block;
  padding: 0.6em;
  text-decoration: none;
  color: #ffffff;
  border: solid 2px #ffffff;
  border-radius: 25px;
  transition: .4s;
  margin-top: 8px;
}
.modoru:hover {
  background: #21afaa;
  color: white;
}

 @media screen and (max-width: 960px){
  .img_block {
   position: absolute;
   top: 13%;
   left: 0;
   right: 0;
   margin: auto;
  }
  .img_block{
    zoom: 1.4;
  }
  .btn {
    font-size: 17px;
    position: absolute;
    top: 800px;
    left: 0;
    right: 0;
    margin: auto;
  }
 }

 @media screen and (max-width: 480px){
   .img_block {
    position: absolute;
    top: 7%;
    left: 0;
    right: 0;
    margin: auto;
   }
   .img_block{
    zoom: 1.0;
  }
  .btn {
    position: absolute;
    top: 510px;
    left: 0;
    right: 0;
    margin: auto;
  }
 }

 @media screen and (max-width: 320px){
  .img_block {
   position: absolute;
   top: 7%;
   left: 0;
   right: 0;
   margin: auto;
  }
  .img_block{
   zoom: 0.8;
 }
 .btn {
   position: absolute;
   top: 425px;
   left: 0;
   right: 0;
   margin: auto;
 }
}
