@charset “UTF-8”;
html {
  touch-action: manipulation;
  font-family: sans-serif;
}
body {
  text-align:center;
  line-height: 15px;
  color:#fff;
  background:#4ec5c1;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
 }
 
 .img_block {
     position: absolute;
     top: 10%;
     left: 0;
     right: 0;
     margin: auto;
 }

 .bus_off {
  position: absolute;
  top: 0%;
  left: 0.15%;
  right: 0;
  bottom: 32%;
  margin: auto;
 }
 
 .img_block img{
   display: block;
   margin:auto;
   user-drag: none;
   -webkit-user-drag: none;
   -moz-user-select: none;
   touch-callout: none;
 }

 
.kari {
  font-size: 13.5px;
  line-height: 1.5;
}
a {
  color:#116fc0;
  text-decoration: none;
}

 .btn {
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  margin: auto;
}

.modoru {
  width:80px;
  display: inline-block;
  padding: 0.6em;
  text-decoration: none;
  color: #ffffff;
  border: solid 2px #ffffff;
  border-radius: 25px;
  transition: .4s;
}
.modoru:hover {
  background: #21afaa;
  color: white;
}

 @media screen and (max-width: 960px){
  .img_block {
   position: absolute;
   top: 13%;
   left: 0;
   right: 0;
   margin: auto;
  }
  .img_block{
    zoom: 1.4;
  }
  .btn {
    position: absolute;
    top: 800px;
    left: 0;
    right: 0;
    margin: auto;
  }
 }

 @media screen and (max-width: 480px){
   .img_block {
    position: absolute;
    top: 7%;
    left: 0;
    right: 0;
    margin: auto;
   }
   .img_block{
    zoom: 0.9;
  }
  .btn {
    position: absolute;
    top: 455px;
    left: 0;
    right: 0;
    margin: auto;
  }
 }

 @media screen and (max-width: 320px){
  .img_block {
   position: absolute;
   top: 7%;
   left: 0;
   right: 0;
   margin: auto;
  }
  .img_block{
   zoom: 0.8;
 }
 .btn {
   position: absolute;
   top: 405px;
   left: 0;
   right: 0;
   margin: auto;
 }
}
